@mixin transparent_star {
  background-position: -124px -10px;
}
@mixin gray_star {
  background-position: -141px -10px;
}
@mixin gold_star {
  background-position: -208px -10px;
}
@mixin big_gold_star {
  background-position: -82px -6px;
}
@mixin thumb_up {
  background-position: -226px -9px;
}
@mixin thumb_down {
  background-position: -192px -9px;;
}
@mixin thumb_up_hover {
  background-position: -158px -10px;
}
@mixin thumb_down_hover {
  background-position: -107px -9px;;
}
@mixin label_size {
  width: 16px;
  height: 15px;
}
@mixin reviews_bg {
  position: relative;
  background: #f6f5ed;
  color: #000;
  border-radius: 4px;
}
