$modal__bg_color: #f5f5ed;
@mixin reviews_bg {
  position: relative;
  background: #f6f5ed;
  color: #000;
  border-radius: 4px;
}

* {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 450px;
}

.add-item {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 50%;
  margin: -18px 0 0 -150px;
}

.btn {
  border-radius: 18px;
  padding: 0.6em 1em;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.btn_red:hover {
  color: #fff;
  background: #fb3a2f;
}

.modal {
  background: $modal__bg_color;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  overflow: hidden;
  z-index: 2000;
  width: 440px;
  line-height: 1.5;
  padding: 2em;
  margin-left: -250px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.modal__close {
  background-color: $modal__bg_color;
  border: none;
  font-size: 20px;
  right: 0;
  top: 0;
  color: #afb8bb;
}

.modal__close_symbol {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.modal__name {
  text-align: left;
  font-size: 150%;
  line-height: 1.2;
}

.modal__content {
  padding: 0 1em;
}

.modal__note {
  color: #aaa49b;
  font-style: italic;
  font-size: 13px;
}

.modal__comment {
  background: #fff;
  border: 1px solid #c5c5bc;
  border-radius: 3px;
  width: 100%;
}

.hidden {
  display: none;
}

.product {
  position: relative;
  display: block;
  width: 100%;
  line-height: 1.5;
  padding-bottom: 6em;
  min-width: 995px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.product__name {
  display: inline;
  font-size: 200%;
  margin: 0.3em 0 0;
  padding: 0;
  line-height: 1.1;
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: 700;
  color: #002b41;
}

.product__wrapper {
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  display: inline-block;
}

.product__photo {
  width: 50%;
  max-width: 700px;
  float: left;
  position: relative;
  margin: auto;
}

.product__img {
  width: 100%;
  height: auto;
}

.product__info {
  margin: 15px;
  float: right;
  position: relative;
}

.product__price {
  position: relative;
  padding: 1em 0.2em 1em 1em;
  margin-right: 15px;
  width: 0;
  min-width: 425px;
  background: #edf7ee;
  border-radius: 3px;
  font: 150%/1.2 "Open Sans";
  color: #000;
}

.add-to-cart {
  color: #fff;
  background: #1f84db;
  margin-left: 2.5em;
}

.item-amount {
  background: #fff;
  border: 1px solid #c5c5bc;
  box-shadow: inset 0 1px 2px rgba(152,152,170,.6);
  border-radius: 4px;
}

.item-amount,
.item-price,
.item-total {
  font-size: 13px;
  margin-left: 1em;
}

.product__menu {
  display: inline-block;
  font: 700 "Open Sans";
  line-height: 1.2;
  text-transform: uppercase;
  margin-right: 1em;
  white-space: nowrap;
}

.product__menu > ul > li {
  padding-left: 0;
  margin-right: 15px;
}

.product__features_section {
  list-style-type: none;
  padding-left: 0;
}

.product__menu > ul > li {
  display: inline-block;
}

.product__menu__list {
  padding-left: 0;
}

.product__menu__list > li > a {
  text-decoration: none;
  color: #1f84db;
  border-bottom: 1px dashed rgba(31,132,219,.3);
}

.product__features_property > span {
  background: #fff;
}

.product__features_property {
  display: inline-block;
  width: 40%;
  min-width: 210px;
  padding: 0 10px 0 0;
  background: url("../images/dot.gif") repeat-x 100% 1.2em;
}

.product__features_value {
  display: inline-block;
  min-width: 130px;
  width: 55%;
  white-space: normal;
  vertical-align: top;
}

.tabs_content {
  width: 500px;
  height: 100%;
}

.tabs_content > div {
  display: none;
}

#tabs > ul > li > a.current {
  text-decoration: none;
  color: #000;
  border-bottom: none;
}

.short {
  display: inline-block;
  margin-top: 0;
  width: auto;
}

.no__reviews {
  position: relative;
  padding: 1em;
  @include reviews_bg;
}

.reviews__block {
  position: relative;
  margin: 18px 0 42px;
  font-size: 13px;
}

.reviews__form {
  max-width: 100%;
  font-size: 13px;
  padding: 16px 18px 30px;
  @include reviews_bg;
}

.leaveReview {
  font-size: 22px;
}

.review__markNpublish {
  display: inline-block;
  width: 100%;
}

.review__mark,
.review__publish {
  float: left;
  width: 50%;
}

.review__mark_stars {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.stars > label {
  width: 16px;
  height: 15px;
  float: right;
  cursor: pointer;
  margin-right: 8px;
  position: relative;
  z-index: 1;
}

.textarea {
  width: 100%;
}

.reviews-comment {
  font-style: italic;
  line-height: 1.4;
  margin: 7px 0 2px;
  height: 100%;
  min-height: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
  resize: none;
}

.btns {
  margin: 0.6em 0 0;
}

.btns > .btn {
  margin: 0.7em 0.7em 0 0;
}

.posted__review {
  max-width: 100%;
  padding: 16px 18px 30px;
  position: relative;
  color: #000;
  font-size: 13px;
}
.posted__review_bottom {
  width: 100%;
}
.posted__review_bottom,
.posted__review_date,
.posted__review_thumbs {
  display: inline-block;
}
.posted__review_date{
  width: 330px;
  text-align: left;
}
.posted__review_thumbs {
  width: 130px;
  text-align: right;
}
